<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Product</h1>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Product</h4>

                  <form class="forms-sample"  method="post" action="{% url 'update_product' data_id=pro.id %}" enctype="multipart/form-data">
                        {% csrf_token %}

                    <div class="form-group">
                      <label for="exampleSelectGender">Category Name</label>
                        <select class="form-control" id="exampleSelectGender" name="category">
                            <option>{{pro.Category_Name}}</option>
                          {% for i in cat %}
                          <option>{{i.Name}}</option>
                          {% endfor %}

                        </select>
                      </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="product" value="{{pro.Product_Name}}">
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Discription</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="disc">{{pro.Discription}}</textarea>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control" id="exampleInputName2" placeholder="Price" name="price" value="{{pro.Price}}">
                    </div>

                    <div class="form-group">
                      <label>Image</label>
                        <img src="{{pro.Product_Image.url}}" width="-100px" height="-100px">
                      <input type="file" name="image">
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}
